[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aiden/Desktop/A Dance of Fire and Ice.desktop]
row=2
col=0

[/home/aiden/Desktop/Terraria.desktop]
row=4
col=0

[/home/aiden/Desktop/1.19.4.desktop]
row=3
col=0

[/home/aiden/Desktop/Counter-Strike Source.desktop]
row=1
col=0

[/home/aiden/Desktop/Among Us.desktop]
row=5
col=0

[/home/aiden/Desktop/steam.desktop]
row=0
col=0

[Trash]
row=0
col=1

